body {
    margin: 0
}

div {
    box-sizing: border-box;
}

#viewer {
    z-index: 10;
}

#bookmarker {
    padding: 5px;
    color:#e9e9e9;
    font-size: 12px;
    background-color: black;
    opacity: .5;
    width: 150px;
    position: fixed;
    left: 18%;
    bottom: 20px;
    z-index: 11;
}

#viewer {
    height: 100vh;
}

#palette, #bookmarks {
    height: 85vh;
}

#palette, #bookmarks {
    height: 15vh;
}

#iconHWSet div {
    margin: 3px;
    padding: 5px 8px;
    cursor: pointer;
    border: 1px #b6ded5 solid;
    display: inline-block;
}

#iconHWSet div:hover {
    background-color: #b6ded5;
}

.hw-item {
    font-size: 15px;
    background-color: #e9e9e9;
    width: 100%;
    padding: 11px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.selected {
    background-color: #b6ded5;
}

#btnShowHWSet {
    border: none;
    color: white;
    padding: 0px 0px 12px 0px !important;
    line-height: 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 70px;
    height: 80px;
    width: 80px;
    position: fixed;
    border-radius: 50%;
    opacity: .5;
    left: 20px;
    bottom: 20px;
    background-color: #81c6b7;
}

#btnShowHWSet:hover {
    opacity: 1;
}

table {
    width: 100%;
}

table th {
    background-color: lightgray;
}

.AnnotationContentOverlay {
    max-width: none;
}